/* fonts */

@font-face {
    font-family: 'Monotype Corsiva Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Monotype Corsiva Regular'), url('../fonts/MTCORSVA.woff') format('woff');
}

@font-face {
    font-family: 'Cool jazz';
    font-style: normal;
    font-weight: normal;
    src: local('Cool jazz'), url('../fonts/Cooljazz.woff') format('woff');
}