@font-face {
    font-family: 'Monotype Corsiva Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Monotype Corsiva Regular'), url('../fonts/MTCORSVA.woff') format('woff');
}

@font-face {
    font-family: 'Cool jazz';
    font-style: normal;
    font-weight: normal;
    src: local('Cool jazz'), url('../fonts/Cooljazz.woff') format('woff');
}

@keyframes example {
    from {
        background-color: red;
    }

    to {
        background-color: yellow;
    }
}

body {
    /* font-family: 'Monotype Corsiva Regular', sans-serif; */
    font-family: 'Cool jazz', sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 28px;
    margin-top: 60px;
    text-align: center;
}

ul {
    font-size: 24px;
}

img {
    margin-bottom: 15px;
}

.test,
.btn {
    display: block;
    font-size: 24px;
    min-width: 150px;
    min-height: 30px;
    border-radius: 50px;
    background-color: #404040;
    color: #fff;
    text-align: center;
    line-height: 30px;
    margin: 5px;
}

.test:hover,
.btn:hover {
    background-color: #777;
}

.test:active,
.btn:active {
    background-color: #555;
}

.btn {
    text-decoration: none;
    min-width: 300px;
}

.result {
    margin-top: 30px;
}

.result-header {
    font-weight: 600;
}

.chess-board {
    background-color: #777;
    max-width: 585px;
    max-height: 585px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chess-board.hidden {
    display: none;
    max-height: 0px;
}

.black-cell {
    width: 65px;
    height: 65px;
    background-color: #505050;
}

.white-cell {
    width: 65px;
    height: 65px;
    background-color: #ededed;
}

.header-symbol {
    display: block;
    width: 65px;
    height: 65px;
    text-align: center;
    color: #ededed;
    background-color: transparent;
    line-height: 65px;
}

.basket {
    min-width: 585px;
    max-width: 585px;
    height: 400px;
    background-color: #ededed;
    padding: 10px;
}

.basket-add-btn {
    display: block;
    height: 30px;
    margin: 0 0 5px 0;
    border-radius: 4px;
    border: 2px solid #404040;
    background-color: #ededed;
    color: #404040;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    font-size: 20px;
}

.basket-add-btn:hover {
    background-color: #777;
    color: #ededed;
}

.basket-add-btn:active {
    background-color: #999;
    color: #ededed;
}

.basket-doogs-list {
    min-width: 585px;
    max-width: 585px;
    height: 320px;
    background-color: #777;
    margin: 0 0 5px 0;
    overflow: scroll;
}

.basket-total {
    display: block;
    height: 30px;
    color: #404040;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
}

.goodItem {
    display: flex;
    justify-content: space-between;
    min-height: 24px;
    line-height: 24px;
    border: 1px solid #4e4e4e;
    background-color: #5e5e5e;
}

.goodItem-txt {
    background-color: #5e5e5e;
    color: #ededed;
    min-height: 24px;
    line-height: 24px;
    font-size: 16px;
    padding: 0;
    border: 1px solid #4e4e4e;
}

.goodItem-del-btn {
    background-color: #ededed;
    color: #4e4e4e;
    /* height: 24px; */
    /* width: 24px; */
    font-size: 16px;
    line-height: 24px;
    padding: 0 5px 0 5px;
    /* font-family: 'Arial', sans-serif; */
    font-weight: bold;
    text-align: center;
    border: 2px solid #4e4e4e;
    border-radius: 4px;
}

.goodItem-del-btn:hover {
    /* border: 2px solid #ededed; */
    /* color: #ededed; */
    background-color: #bbb;
}